# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

######################################################################################################
#
#  Team structure and memberships
#
#######################################################################################################

# These owners will be the default owners for everything in the repo.
*       @firebase/jssdk-global-approvers

# Database Code
packages/database @maneesht @aashishpatil-g @firebase/jssdk-global-approvers
packages/database-compat @maneesht @aashishpatil-g @firebase/jssdk-global-approvers
packages/database-types @maneesht @aashishpatil-g @firebase/jssdk-global-approvers

# Firestore Code
packages/firestore  @firebase/firestore-js-team @firebase/jssdk-global-approvers
packages/firestore-compat  @firebase/firestore-js-team @firebase/jssdk-global-approvers
packages/webchannel-wrapper  @firebase/firestore-js-team @firebase/jssdk-global-approvers
packages/firestore-types  @firebase/firestore-js-team @firebase/jssdk-global-approvers
integration/firestore  @firebase/firestore-js-team @firebase/jssdk-global-approvers

# Storage Code
packages/storage @maneesht @tonyjhuang @firebase/jssdk-global-approvers
packages/storage-compat @maneesht @tonyjhuang @firebase/jssdk-global-approvers
packages/storage-types @maneesht @tonyjhuang @firebase/jssdk-global-approvers

# Messaging Code
packages/messaging  @zwu52 @firebase/jssdk-global-approvers
packages/messaging-compat  @zwu52 @firebase/jssdk-global-approvers
packages/messaging-interop-types @zwu52 @firebase/jssdk-global-approvers
integration/messaging @zwu52 @firebase/jssdk-global-approvers

# Auth Code
packages/auth @lisajian @Xiaoshouzi-gh @renkelvin @sam-gc @firebase/jssdk-global-approvers
packages/auth-compat @lisajian @Xiaoshouzi-gh @renkelvin @sam-gc @firebase/jssdk-global-approvers
packages/auth-types @lisajian @Xiaoshouzi-gh @renkelvin @sam-gc @firebase/jssdk-global-approvers
packages/auth-interop-types @lisajian @Xiaoshouzi-gh @renkelvin @sam-gc @firebase/jssdk-global-approvers

# Testing Code
packages/rules-unit-testing  @avolkovi @sam-gc @yuchenshi @firebase/jssdk-global-approvers

# Installations
packages/installations @avolkovi @yoyomyo @firebase/jssdk-global-approvers
packages/installations-compat @avolkovi @yoyomyo @firebase/jssdk-global-approvers
packages/installations-types @avolkovi @yoyomyo @firebase/jssdk-global-approvers

# Performance Code
packages/performance @jposuna @firebase/jssdk-global-approvers
packages/performance-compat @jposuna @firebase/jssdk-global-approvers
packages/performance-types @jposuna @firebase/jssdk-global-approvers

# Analytics Code
packages/analytics @hsubox76 @firebase/jssdk-global-approvers
packages/analytics-compat @hsubox76 @firebase/jssdk-global-approvers
packages/analytics-types @hsubox76 @firebase/jssdk-global-approvers

# Remote Config Code
packages/remote-config @erikeldridge @firebase/jssdk-global-approvers
packages/remote-config-compat  @erikeldridge @firebase/jssdk-global-approvers
packages/remote-config-types @erikeldridge @firebase/jssdk-global-approvers

# App Check Code
packages/app-check @hsubox76 @firebase/jssdk-global-approvers
packages/app-check-compat @hsubox76 @firebase/jssdk-global-approvers
packages/app-check-types @hsubox76 @firebase/jssdk-global-approvers
packages/app-check-interop-types @hsubox76 @firebase/jssdk-global-approvers

# Documentation Changes
packages/firebase/index.d.ts @egilmorez @firebase/jssdk-global-approvers
scripts/docgen/content-sources/ @egilmorez @firebase/jssdk-global-approvers
docs-devsite/ @egilmorez @markarndt @kevinthecheung

# Changeset
.changeset @firebase/jssdk-changeset-approvers @firebase/firestore-js-team @firebase/jssdk-global-approvers
