# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in the repo.
*       @jshcrowthe

# Order is important. The last matching pattern has the most precedence.
# So if a pull request only touches javascript files, only these owners
# will be requested to review.
*.js    @jshcrowthe

# You can also use email addresses if you prefer.

# Database Code
src/database  @mikelehen @jdimond
tests/database  @mikelehen @jdimond

# Storage Code
src/storage  @sphippen
tests/storage  @sphippen

# Messaging Code
src/messaging  @gauntface
tests/messaging  @gauntface

# Auth Code
src/auth.build.js  @bojeil-google