# Shared editor configurations that track the way prettier formats source.
#
# To use this in vscode:
#
#   ext install EditorConfig

root = true

# Source files look unixy by default
[*]
end_of_line = lf
insert_final_newline = true

# Javascript and Typescript look like Google-style
[*.{js,json,ts}]
charset = utf-8
indent_style = space
indent_size = 2

# Not currently supported by vscode, but is supported others, e.g. vim.
max_line_length = 80