# Copyright 2023 Google LLC
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

name: Deploy Project Config

on: pull_request

# Detects if any project config files (rules or functions) have changed,
# and deploys them to the test project used for CI if so.
# Run this in its own workflow instead of as a step before each test
# workflow to avoid too many deploys, possibly causing race conditions.
# Since the build step of each test workflow takes a long time, this
# this should finish before the tests begin running.

jobs:
  test:
    name: Deploy Firebase Project Rules and Functions
    runs-on: ubuntu-latest

    steps:
    - name: Checkout Repo
      uses: actions/checkout@master
      with:
        # This makes Actions fetch all Git history so run-changed script can diff properly.
        fetch-depth: 0
    - name: Set up node (20)
      uses: actions/setup-node@v3
      with:
        node-version: 20.x
    - name: Yarn install
      run: yarn
    - name: Deploy project config if needed
      run: yarn ts-node scripts/ci-test/deploy-if-needed.ts
      env:
        FIREBASE_CLI_TOKEN: ${{secrets.FIREBASE_CLI_TOKEN}}
