# Copyright 2023 Google LLC
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

name: Test Auth

on: pull_request

env:
  # make chromedriver detect installed Chrome version and download the corresponding driver
  DETECT_CHROMEDRIVER_VERSION: true
  # The default behavior of chromedriver uses the older Chrome download URLs. We need to override
  # the behavior to use the new URLs.
  CHROMEDRIVER_CDNURL: https://googlechromelabs.github.io/
  CHROMEDRIVER_CDNBINARIESURL: https://storage.googleapis.com/chrome-for-testing-public
  CHROME_VALIDATED_VERSION: linux-120.0.6099.71
  # Bump Node memory limit
  NODE_OPTIONS: "--max_old_space_size=4096"

jobs:
  test-chrome:
    name: Test Auth on Chrome and Node If Changed
    runs-on: ubuntu-latest
    steps:
      # install Chrome first, so the correct version of webdriver can be installed by chromedriver
      # when setting up the repo
      #
      # Note: we only need to check the chrome version change in one job as the warning annotation
      # is appended to the entire workflow results, not just this job's results.
      - name: install Chrome stable
        env:
          CHROME_VERSION_MISMATCH_MESSAGE: "The Chrome version doesn't match the previously validated version. Consider updating CHROME_VALIDATED_VERSION in the GitHub workflow if tests pass."
        run: |
          npx @puppeteer/browsers install chrome@stable
          chromeVersionString=$(ls chrome)
          if [ "$CHROME_VALIDATED_VERSION" != "$chromeVersionString" ]; then
          echo "::warning ::The Chrome version doesn't match the previously validated version. Consider updating CHROME_VALIDATED_VERSION in the GitHub workflow if tests pass."
          echo "::warning ::Previously validated version: ${CHROME_VALIDATED_VERSION} vs. Installed version: $chromeVersionString"
          echo "CHROME_VERSION_NOTES=$CHROME_VERSION_MISMATCH_MESSAGE" >> "$GITHUB_ENV"
          fi
      - name: Test Evn TEMP
        run: |
         echo $CHROME_VERSION_NOTES=$CHROME_VERSION_MISMATCH_MESSAGE
      - name: Checkout Repo
        uses: actions/checkout@v4
        with:
          # This makes Actions fetch all Git history so run-changed script can diff properly.
          fetch-depth: 0
      - name: Set up Node (20)
        uses: actions/setup-node@v3
        with:
          node-version: 20.x
      - name: Test setup and yarn install
        run: |
          cp config/ci.config.json config/project.json
          yarn
      - name: build
        run: yarn build:changed auth
      - name: Run tests on changed packages
        run: xvfb-run yarn test:changed auth
  test-firefox:
    name: Test Auth on Firefox If Changed
    # Whatever version of Firefox comes with 22.04 is causing Firefox
    # startup to hang when launched by karma. Need to look further into
    # why.

    runs-on: ubuntu-20.04

    steps:
      - name: install Firefox stable
        run: |
          sudo apt-get update
          sudo apt-get install firefox
          sudo apt-get install wget

      - name: Checkout Repo
        uses: actions/checkout@v4
        with:
          # This makes Actions fetch all Git history so run-changed script can diff properly.
          fetch-depth: 0
      - name: Set up Node (20)
        uses: actions/setup-node@v3
        with:
          node-version: 20.x
      - name: Test setup and yarn install
        run: |
          cp config/ci.config.json config/project.json
          yarn
      - name: build
        run: yarn build:changed auth
      - name: Run tests on auth changed packages
        run: xvfb-run yarn test:changed auth
        env:
          BROWSERS: 'Firefox'

  test-webkit:
    name: Test Auth on Webkit if Changed
    runs-on: macos-latest

    steps:
      - name: Checkout Repo
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Set up Node (20)
        uses: actions/setup-node@v3
        with:
          node-version: 20.x
      - name: Test setup and yarn install
        run: |
          cp config/ci.config.json config/project.json
          yarn
          npx playwright install webkit
      - name: build
        run: yarn build:changed auth
      - name: Run tests on changed packages
        run: yarn test:changed auth
        env:
          BROWSERS: 'WebkitHeadless'