# Copyright 2023 Google LLC
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

name: Test Modified Packages

on: pull_request

env:
  artifactRetentionDays: 14
  # Bump Node memory limit
  NODE_OPTIONS: "--max_old_space_size=4096"

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          # Fetch all Git history so that the build:changed script can use diffs
          fetch-depth: 0
      - uses: actions/setup-node@v4
        with:
          node-version-file: '.nvmrc'
          cache: yarn
          cache-dependency-path: yarn.lock
      - name: Restore cached node_modules
        uses: actions/cache@v4
        id: node_modules
        with:
          path: "**/node_modules"
          key: node_modules-${{ runner.arch }}-${{ runner.os }}-${{ hashFiles('yarn.lock') }}
      - run: yarn install --frozen-lockfile
      - name: install Chrome stable
        run: |
          npx @puppeteer/browsers install chrome@stable
      - name: Test setup
        run: cp config/ci.config.json config/project.json
      - run: yarn build:changed core
      - name: Upload build archive
        uses: actions/upload-artifact@v4
        with:
          name: dists-changed-core-${{ github.sha }}
          path: |
            packages/**/dist
            repo-scripts/**/dist
          retention-days: ${{ env.artifactRetentionDays }}

  test-chrome:
    name: Test Packages With Changed Files in Chrome and Node
    needs: build
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repo
        uses: actions/checkout@v4
        with:
          # This makes Actions fetch all Git history so run-changed script can diff properly.
          fetch-depth: 0
      - name: Download build archive
        uses: actions/download-artifact@v4
        with:
          name: dists-changed-core-${{ github.sha }}
      - uses: actions/setup-node@v4
        with:
          node-version-file: '.nvmrc'
          cache: yarn
          cache-dependency-path: yarn.lock
      - name: Restore cached node_modules
        uses: actions/cache@v4
        id: node_modules
        with:
          path: "**/node_modules"
          key: node_modules-${{ runner.arch }}-${{ runner.os }}-${{ hashFiles('yarn.lock') }}
      - run: yarn install --frozen-lockfile
      - name: install Chrome stable
        run: |
          sudo apt-get update
          sudo apt-get install google-chrome-stable
      - run: cp config/ci.config.json config/project.json
      - name: Run tests on changed packages
        run: xvfb-run yarn test:changed core

  test-firefox:
    name: Test Packages With Changed Files in Firefox
    needs: build
    # Whatever version of Firefox comes with 22.04 is causing Firefox
    # startup to hang when launched by karma. Need to look further into
    # why.
    runs-on: ubuntu-20.04

    steps:
      - name: Checkout Repo
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Download build archive
        uses: actions/download-artifact@v4
        with:
          name: dists-changed-core-${{ github.sha }}
      - uses: actions/setup-node@v4
        with:
          node-version-file: '.nvmrc'
          cache: yarn
          cache-dependency-path: yarn.lock
      - name: Restore cached node_modules
        uses: actions/cache@v4
        id: node_modules
        with:
          path: "**/node_modules"
          key: node_modules-${{ runner.arch }}-${{ runner.os }}-${{ hashFiles('yarn.lock') }}
      - run: yarn install --frozen-lockfile
      - name: install Firefox stable
        run: |
          sudo apt-get update
          sudo apt-get install firefox
      - name: Test setup and yarn install
        run: cp config/ci.config.json config/project.json
      - name: Run tests on changed packages
        run: xvfb-run yarn test:changed core
        env:
          BROWSERS: 'Firefox'
          
          
  test-webkit:
    name: Test Packages With Changed Files in Webkit
    needs: build
    runs-on: macos-latest

    steps:
      - name: Checkout Repo
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Download build archive
        uses: actions/download-artifact@v4
        with:
          name: dists-changed-core-${{ github.sha }}
      - uses: actions/setup-node@v4
        with:
          node-version-file: '.nvmrc'
          cache: yarn
          cache-dependency-path: yarn.lock
      - name: Restore cached node_modules
        uses: actions/cache@v4
        id: node_modules
        with:
          path: "**/node_modules"
          key: node_modules-${{ runner.arch }}-${{ runner.os }}-${{ hashFiles('yarn.lock') }}
      - run: yarn install --frozen-lockfile
      - run: cp config/ci.config.json config/project.json
      - run: npx playwright install webkit
      - name: Run tests on changed packages
        run: yarn test:changed core
        env:
          BROWSERS: 'WebkitHeadless'