name: Test Firestore

on: pull_request

jobs:
  test:
    name: If Changed
    runs-on: ubuntu-latest

    steps:
    - name: Checkout Repo
      uses: actions/checkout@master
      with:
        # This makes Actions fetch all Git history so run-changed script can diff properly.
        fetch-depth: 0
    - name: Set up Node (10)
      uses: actions/setup-node@v1
      with:
        node-version: 10.x
    - name: install Chrome stable
      run: |
        sudo apt-get update
        sudo apt-get install google-chrome-stable
    - name: Test setup and yarn install
      run: |
        cp config/ci.config.json config/project.json
        yarn
    - name: build
      run: yarn build:changed firestore --buildAppExp
    - name: Run tests if firestore or its dependenceies has changed
      run: yarn test:changed firestore